################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/SM/00 Client/GW_Client/GW_Client.VC.VC.opendb
