################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.VC.VC.opendb
*.ipch
*.VC.db
*.sdf
*.pdb
*.ilk
*.log
*.suo
*.obj
*.exe
*.idb
*.pch
*.tlog
*.cso
*.ilk
*.res
*.dmp